.red {
  color: #c3170c;
}

.blue {
  color: #1e4b9b;
}

.turquoise {
  color: #006766;
}

.green {
  color: #07aa47;
}

.darkorange {
  color: #e3662b;
}

.darkpink {
  color: #fb0735;
}

.pink {
  color: #ff75bb;
}

.orange {
  color: #ec7d00;
}

.gray {
  color: #323333;
}

.purple {
  color: #a81d83;
}
