body {
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar a img {
  height: 36px;
}

.logo-mobile {
  display: none;
}

.container {
  padding: 0 20px;
  width: 1250px;
}

.menu {
  width: 100%;
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  padding: 10px;
}

.menu-item:hover {
  opacity: 0.7;
}

.main {
  margin-top: 34px;
  margin-bottom: 73px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main .container {
  display: flex;
}

.main a {
  text-decoration: none;
}

.main a:hover {
  opacity: 0.8;
}

.col-left,
.col-right {
  width: 625px;

  /* background-color: blue; */
}

.col-left {
  padding-right: 36px;
  border-right: 1px solid #ebedef;
}

.col-left img {
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

.col-right img {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

.col-left > div {
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebedef;
}

.col-left > div:last-child {
  border: none;
}

.column {
  flex-direction: column;
}

.col-left div a {
  margin-bottom: 9px;
}

.col-left .post {
  width: 193px;
  margin-right: 24px;
  margin-bottom: 2px;

  display: flex;
  flex-direction: column;
}

.col-left .post .legend {
  margin: 11px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #c4170c;
}

.col-left .post .title {
  margin: 6px 0 0 0;
  font-size: 20px;
  font-weight: 700;
}

.col-left .post .title + p {
  margin-top: 14px;
  font-size: 14px;
  color: #2f3134;
}

.col-right {
  display: flex;
}

.main .col-right div:last-child .legend {
  color: #ec8006;
}

.col-right .post {
  width: 240px;
  margin-bottom: 50px;
}

.col-right .post .legend {
  margin: 11px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #16ae54;
}

.col-right .post .title {
  margin-top: 6px;
  line-height: 25px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #2f3134;
}

.col-right .post .text-secondary {
  margin: 9px 0 0 0;
  font-size: 14px;
  color: #2f3134;
}

.col-right > div {
  margin-left: 35px;
  width: 240px;

  justify-content: center;
}

.col-right > div:last-child {
  border-left: 1px solid #ebedef;
  padding-left: 35px;
}

.main .main-subject {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 29px;
  color: #c4160c;
}

.main .secondary-subject {
  font-size: 18px;
  font-weight: 500;
  color: #303134;
}
